.body {
  background-image: url("images/space.jpeg");
  background-position: center;
}
.main {
    height: 980px;
    width:  auto;
}
.nameOfPage {
  font-size:    60px;
  color:        #ffbdf9;
  font-weight:  bolder;
  text-align:   center;
  padding: 50px 0 0 0;
}
.mbInput {
  text-align: center;
  height: 60px;
  border: 20px 0 0 0;
  color: #FFFFFF;

}
.button {
  display: block;
  margin: auto;
  color: red;
  height: 35px;
}
.form {
  border: 12px,0;
  padding: 15px;
}
.list {
  margin: auto 0;
}
#postings {
  text-align: center;
  list-style-type: none;
  padding: 25px;
  color: #FFFFFF;
}
