
.main {
    background-color: #088e95;
    height: 980px;
    width:  auto;
}
.nameOfPage {
  font-size:    60px;
  color:        #ffbdf9;
  font-weight:  bolder;
  text-align:   center;
  padding: 50px 0 0 0;
}
.mbInput {
  text-align: center;
  height: 60px;
  border: 20px 0 0 0;

}
.button {
  display: block;
  margin: auto;
  color: red;
  height: 35px;
}
.form {
  border: 12px,0;
}
.list {
  margin: auto 0;
}
#postings {
  text-align: center;
  list-style-position: inherit;
}
